.leaflet-container {
    width: 100%;
    height:300px;
    border-radius: 16px;
  }
  .selectclass{

   
    align-items: center;
    align-self: center;
    color: rgb(222, 112, 16);
    width: 200px;
    text-align: right;
    direction: ltr;
  }
  .hiden{
    display: none;
  }